@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,600,700,900&display=swap');


// $green-light: #026633;
// $green-dark: #085025;
// $brown-earthy: #963A2F;
// $brown-sandy: #ECB984;

$green-light: #000;
$green-dark: #000;
$brown-earthy: #fff;
$brown-sandy: #fff;


$header-family: "Roboto Mono", sans-serif;
$regular-weight: 400;
$semibold: 600;
$bold: 700;
body {
    margin:0;
    font-family: $header-family
}
* { box-sizing: border-box; }
.flex {
    display:flex;
    flex-wrap: wrap;
}
.container {
    width:100%;
    height:100vh;
    overflow:hidden;
}

.row-3 { height: 33%; }
.row-9 { height: 67%; }

.col-3 { width: 33%; }
.col-9 { width: 67%; }

#title {
    background: $brown-sandy;
    text-align: right;
    padding: 3% 30px;
}
.title-header {
    font-size: 3rem;
    margin:15px;
}
.title-coord {
    font-size: 2rem;
}
#video-feed {
    background: $green-dark;
    position: relative;
}
.video-description-box {
    position: absolute;
    bottom:0px;
    padding: 0px 20px;
    background: $green-light;
    width:100%;
}
.video-header{
    text-transform: uppercase;
    color:white;
    text-align: center;
    margin: 5px;
}
#visual-container {
    background: $green-light;
    position: relative;
    iframe {
        border:0;
        position: absolute;
        top:0;
        left:0;
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
        filter: gray; /* IE6-9 */
          -webkit-filter: grayscale(99%); /* Chrome 19+ & Safari 6+ */
          -webkit-backface-visibility: hidden;  /* Fix for transition flickering */
    }
}

iframe {
    //filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    //filter: gray; /* IE6-9 */
      //-webkit-filter: grayscale(99%); /* Chrome 19+ & Safari 6+ */
     // -webkit-backface-visibility: hidden;  /* Fix for transition flickering */
}
#visual {
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
}
.visual-description-box {
    position: absolute;
    bottom:15px;
    right:0;
    background: $green-dark;
    color: white;
    padding: 0px 15px;
}
#weather {
    background: $brown-earthy; 
    padding: 20px 30px;
    h3 {
        margin: 10px 0px;;
    }
    h4 {
        margin: 7px 0px;
    }
    h5 {
        margin: 5px 0px;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.weather-description {
    font-size:1rem;
}
.weather-label{
    font-weight:$regular-weight;
}
.weather-val {
    font-weight: $semibold;
}
.wind-box {
    position:absolute;
    bottom:15px;
    padding-left: 50px;
    padding-right:30px;
    background: $green-dark;
    color:white;
}

$compass: "North" "North-Northwest" "Northwest" "West-Northwest" "West" "West-Southwest" "Southwest" "South-Southwest" "South" "South-Southeast" "Southeast" "East-Southeast" "East" "East-Northeast" "Northeast" "North-Northeast";

#wind-dir {
    .material-icons { display: inline-block;}
    @each $direction in $compass {
        $i: index($compass, $direction);
        $d: ($i * 22.5 + 90 + 22.5);
        &.#{$direction} {
            .material-icons {
                
                transform: rotateZ(#{$d}deg);
            }
        }
    }

}